<%= link_to t(:new_list), new_recipe_list_path%>
<% if @recipe_lists.empty? %>
  <h3><%= t(:no_lists)%></h3>
<% else %>
  <% @recipe_lists.each do |recipe_list| %>
    <h3><%= link_to recipe_list.name, recipe_list %></h3>
  <% end %>
<% end %>
