<header class = "bg-dark text-light">
  <div class="container clearfix">
      <div class=" mt-2 mb-0 float-left">
        <h1> <%= link_to 'CookBook', root_path, class: "text-decoration-none text-light"%> </h1>
      </div>
      <div class="mt-4 mb-0 float-right">
        <h5>
        <% if user_signed_in? %>
          Olá, <%= current_user.email %>
            <%= link_to 'Sair', destroy_user_session_path, method: :delete%>

        <% else %>
          <%= link_to 'Entrar', new_user_session_path %>
        <% end %>
      </h5>
      </div>
    </div>
  </div>
</header>
